<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="TicTacToeDataConnString" value="Server=127.0.0.1;Port=43594;Database=TicTacToeDb;User Id=&quot;TicTacToeUser&quot;;Password=&quot;TicTacToePassword&quot;;" />
		<Parameter name="MLModel1Path" value="$(SolutionDir)/TicTacToeML/MLModels/MLModel1.zip" />
		<Parameter name="CsvOutputPath" value="$(SolutionDir)/TicTacToeML/TrainingData/Queue" />
		<Parameter name="PrepAndExportData" value="false" />
	</TestRunParameters>
</RunSettings>
