<div class="row col-xs-12 col-md-12 tic-tac-toe-page">
    @*<div class="jumbotron">
        <h2>Tic-Tac-Toe</h2>
        <p class="lead">Use <button type="button" class="btn btn-danger">Reset</button> to reset the game.</p>
        <p>Use <button type="button" class="btn btn-danger">Change Mode</button> to toggle between single player and two player mode.</p>
        <p><a href="https://en.wikipedia.org/wiki/Tic-tac-toe" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </div>*@
    <div class="row">
        <div class="col-xs-12 col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div id="container">
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/TicTacToe")
<script type="text/javascript">
    $(document).ready(function () {
        var app = new TicTacToe("container");
    });
</script>
